{% extends 'dashboard.html' %}
{% block content %}
<div class="page-content">
                    <div id="tab-general" style="color:black">
                        <div class="row mbl">
                            <div class="col-lg-12">

                                            <div class="col-md-12">
                                                <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                                </div>
                                            </div>

                            </div>

					<div class="col-lg-12">
                    <div class="row">
					<div class="col-lg-6">
                                <ol class="pll">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                            <li>Faucibus porta lacus fringilla vel</li>
                                            <li>Aenean sit amet erat nunc</li>
                                            <li>Eget porttitor lorem</li>
                                        </ol>
                                    </div>
                    </div>
                    </div>
                </div>
                            </div>
							<div class="col-md-2" style="padding-top:7px;text-align:end;color:black"> <div class="form-group">Select unit</div> </div>
							<div class="col-md-6">
                                                            <div class="form-group">
                                                                <select class="form-control">
                                                                    <option>Unit A</option>
                                                                    <option value="design">Unit B</option>
                                                                    <option value="development">Unit C</option>
                                                                    <option value="illustration">Unit D</option>
                                                                    <option value="brading">Unit E</option>
                                                                    <option value="video">Unit F</option>

                                                                </select></div>
                            </div>
							<div class="col-md-4">
							<div class="text-right mbl">
								<a href="anggaran" class="btn btn-green">Assign</a></div></div>
					</div>
                        </div>
                    </div>
                </div>
{% endblock %}