
    <link rel="shortcut icon" href="{{ url_for('static', filename='') }}kadmin/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='') }}kadmin/images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='') }}kadmin/images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='') }}kadmin/images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/animate.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/all.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/main.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/pace.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/jquery.news-ticker.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='') }}kadmin/styles/jplist-custom.css">